.products-container
{
    margin: 0 auto;
}

.products-container h1
{
    font-size: 2rem;
    padding: 0 1rem;
    color: #fff;
}

.products-section
{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
    padding: 0 1rem;
    margin: 0 auto;
}

.product-image
{
    width: 100%;
    height: 200px;
    background-color: #fff;
    display: flex;
    justify-content: center;
}

.product-image img
{
    width: auto;
    height: 100%;
    max-width: 100%;
    object-fit: fit;
    border-radius: 5px;
}

.product-description p
{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-height: 1.2em;
    max-height: 2.4em;
    text-overflow: ellipsis;
}

.adoption-indication
{
    color: #3a3a3a;
}

.product-slice
{
    background-color: #F7B733;
    margin: 0 0 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    border: 2px solid #DFDCE3;
    border-radius: 5px;
    color: #333;

}

.product-slice p
{
    padding: 0 .5rem;
}

.products-overview
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.products-overview-information
{
    width: 100%;
    height: 300px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.products-overview-information img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    position: absolute;
    z-index: -1;
    opacity: 0.5;
}

.products-category-links
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
}

.products-category-links a
{
    text-decoration: none;
    color: #333;
    font-size: 1.2rem;
    padding: 1rem;
    border-radius: 5px;
    border: 2px solid #DFDCE3;
    background-color: #F7B733;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100px;
}

.products-category-links img
{
    width: 50px;
    height: 50px;
    position: relative;
    opacity: 1;
    z-index: 1;
}

.toys-section
{
    margin: 1rem;
    font-size: 1.5rem;
    font-weight: 700;
    color: #DFDCE3;
}

@media (max-width: 480px)
{
    .products-overview-information h1
    {
        font-size: 1.5rem;

    }

    .products-category-links
    {
        padding: .5rem;
        gap: .5rem;
    }

    .products-category-links a
    {
        font-size: .9rem;
        padding: .5rem 0;
    }

    .products-category-links img
    {
        width: 35px;
        height: 35px;
        position: relative;
        opacity: 1;
        z-index: 1;
    }

    .product-description p
    {
        font-size: .9rem;
    }

    .products-section
    {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
}