.home-app
{
    margin: 0 auto;
    max-width: 1200px;
    padding: 1rem;
}

.carousel
{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    overflow: hidden;
    max-width: 100%;
}

.carousel div
{
    flex: 0 0 auto;
    width: 200px;
}

.slide
{
    background-color: #F7B733;
    margin: 0 0 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #DFDCE3;
    border-radius: 5px;
    color: #333;
    transition: opacity 0.5s ease-in-out;
}

.slide-image
{
    width: 200px;
    height: 200px;
}

.slide-image img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.carousel-button
{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #fc4b1aad;
    border: none;
    color: black;
    font-size: 24px;
    cursor: pointer;
    padding: 10px;
    z-index: 1;
    transition: background-color 0.3s ease-in-out;
}

.carousel-button:hover
{
    background-color: rgba(255, 255, 255, 0.8);
}

.prev
{
    left: 10px;
}

.next
{
    right: 10px;
}

.home-app h1
{
    text-align: start;
    padding: 1rem;
    font-size: 2rem;
    text-wrap: wrap;
}

.slide h4
{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-height: 1.2em;
    max-height: 2.4em;
    text-overflow: ellipsis;
    font-weight: 100;
    padding: 0 .5rem;
}

.add-to-cart-btn
{
    background-color: #f8ab11;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 50px;
    cursor: pointer;
    width: 100px;
    border: 2px dotted #FC4A1A;
    margin-bottom: 1rem;
}

.add-to-cart-btn:hover
{
    background-color: #f8ab11;
    border: 2px solid #DFDCE3;
}

h1,
h2,
h3
{
    text-shadow: 2px 2px 2px #000;
}

h2
{
    color: #fc4b1aad;
}

h3
{
    text-align: left;
    padding: 1rem;
}

.slide p
{
    color: #3a3a3a;
    margin-top: 0;
}

.home-overview
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.home-overview-image
{
    position: relative;
    padding: 1rem;
    opacity: 0.9;
}

.home-overview-image img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.background-circle
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 64%;
    background-color: #F7B733;
    clip-path: circle(50% at 50% 50%);
    z-index: -1;

}

.home-overview-information
{
    padding: 1rem;

}

.home-app h2
{
    color: #DFDCE3;
    text-shadow: 1px 1px 1px #000;

}

.home-overview-information h3
{
    text-shadow: 1px 1px 1px #000;
}

.home-overview-information li
{
    color: #000;
}

.home-overview-links
{
    display: flex;
    flex-direction: row;
    justify-content: start;

}

.home-overview-links a
{
    text-decoration: none;
    padding: 1rem;
    color: #DFDCE3;
    border: 2px solid #DFDCE3;
    border-radius: 5px;
    margin: 1rem;
    padding: 0.3rem 1rem;
}

/* Media Queries */

@media (max-width: 480px)
{
    .home-overview-image
    {
        display: none;
    }

    .home-overview,
    .home-overview-information
    {
        padding: 0;
    }

    .home-app h2
    {
        padding-top: 2rem;
    }

}

@media (max-width: 768px)
{
    .home-overview
    {
        flex-direction: row;
    }

    .home-overview-image
    {
        width: 40%;
        margin-bottom: 0;
        padding-bottom: 0;
    }

    .home-overview-information
    {
        margin-top: 0;
        padding-top: 0;
    }

    h1
    {
        font-size: 1.2rem;
    }

    h2
    {
        font-size: 1.1rem;
    }
}