.home-app
{
    margin: 0 auto;
}

.carousel
{
    position: relative;
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
}

.carousel div
{
    flex: 0 0 auto;
    width: 200px;
}

.slide
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-size: cover;
    background-position: center;
    transition: opacity 0.5s ease-in-out;
}

.slide-image
{
    width: 200px;
    height: 200px;

}

.slide-image img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.carousel-button
{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #fc4b1aad;
    border: none;
    color: black;
    font-size: 24px;
    cursor: pointer;
    padding: 10px;
    z-index: 1;
    transition: background-color 0.3s ease-in-out;
}

.carousel-button:hover
{
    background-color: rgba(255, 255, 255, 0.8);
}

.prev
{
    left: 10px;
}

.next
{
    right: 10px;
}

h1
{
    text-align: center;
    padding: 1rem;
    font-size: 1.5rem;
    text-wrap: wrap;
}

h4
{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-height: 1.2em;
    max-height: 2.4em;
    text-overflow: ellipsis;
    font-weight: 100;
}

.add-to-cart-btn
{
    background-color: #f8ab11;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 50px;
    cursor: pointer;
    width: 100px;
    border: 2px dotted #FC4A1A;
    margin-bottom: 1rem;
}

.add-to-cart-btn:hover
{
    background-color: #f8ab11;
    border: 2px solid #DFDCE3;
}

h1,
h2,
h3
{
    text-shadow: 2px 2px 2px #000;
}

h2
{
    color: #fc4b1aad;
}

h3
{
    text-align: left;
    padding: 1rem;
}

.slide p
{
    color: #3a3a3a;
    margin-top: 0;
}

.main-slide
{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 2rem;
    min-height: 350px;
    margin: 1rem;
}

.main-carousel
{
    width: 100%;
    height: auto;
    margin: 0 auto;
}

@media (max-width: 680px)
{
    .main-slide
    {
        flex-direction: column;
    }

    h1
    {
        font-size: 1.2rem;
    }

    h2
    {
        font-size: 1.1rem;
    }
}