.navbar
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    width: 100%;
}

nav
{
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: .5rem;
    margin: 0 1rem;
}

.pet-lovers-logo-text
{
    display: none;
}

.navbar ul
{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
    gap: .5rem;
    padding: 0;
    margin: 0;
}

.navbar li
{
    list-style: none;
    text-align: center;
    border-radius: 50px;
}

.navbar li a
{
    text-decoration: none;
    font-size: 14px;
    text-emphasis: none;
    color: #DFDCE3;
}

.navbar li a:hover
{
    text-decoration: underline;
}

.navbar li a::before
{
    text-emphasis: none;
}

.navbar a
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    padding: .2rem .5rem;
}

.navbar li a img
{
    width: 30px;
    height: 30px;

}

.btn-cart
{
    background-color: transparent;
    border: none;
    border-radius: 50%;
    padding: .5rem;
    position: relative;
}

.btn-cart:hover
{
    cursor: pointer;
    background-color: #DFDCE3;
    border-radius: 50%;
    padding: .5rem;
}

.btn-cart:focus
{
    outline: none;
    background-color: #F7B733;
}

.btn-cart img
{
    width: 30px;
    height: 30px;
}

.upper-bar
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin-bottom: 1rem;
}

.input-group
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 0;
}

.upper-bar .input-group input
{
    width: 100%;
    padding: .7rem;
    background-color: #DFDCE3;
    border: 1px solid #ccc;
    border-radius: 50px 0px 0px 50px;
    margin: 0;
}

.upper-bar .input-group button
{
    background-color: #F7B733;
    border: none;
    border-radius: 0px 50px 50px 0px;
    padding: .48rem 1rem;
    max-width: 60px;

}

.btn-outline-secondary img
{
    width: 20px;
    height: 20px;
    padding: 0%;
    margin: 0;
}

.quantity-in-cart
{
    position: absolute;
    top: 0;
    right: 0;
    background-color: #FC4A1A;
    color: #DFDCE3;
    border-radius: 50%;
    padding: .15rem .4rem;
    font-size: 14px;
}

@media (max-width: 575.98px)
{
    .menu-option
    {
        display: none;
    }

    .navbar ul
    {
        grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    }

    .navbar
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0;
    }

    .pet-lovers-logo
    {
        display: none;
    }

    .pet-lovers-logo-text
    {
        display: block;
    }

    .input-group
    {
        padding: 0 1rem;
    }

    .input-group button
    {
        padding: .46rem 1rem;
    }
}