.pets-container
{
    margin: 0 auto;
}

.pets-section
{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
    padding: 0 1rem;
    margin: 0 auto;
}

.pet-image
{
    width: 100%;
    height: 200px;
}

.pet-image img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.pet-description p
{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-height: 1.2em;
    max-height: 2.4em;
    text-overflow: ellipsis;
}

.adoption-indication
{
    color: #3a3a3a;
}

.pet-slice
{
    background-color: #F7B733;
    margin: 0 0 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    border: 2px solid #DFDCE3;
    border-radius: 5px;
    color: #333;

}

.pet-slice p
{
    padding: 0 .5rem;
}

.pets-container h1
{
    font-size: 1.7rem;
    padding: 0 1rem;
    text-align: center;
    color: #fff;
}

.pets-container h2
{
    font-size: 1.5rem;
    padding: 0 1rem;
    text-align: start;
    color: #DFDCE3;
    text-shadow: 1px 1px 1px #000;
}

.pets-overview
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.pets-overview-information
{
    width: 100%;
    height: 300px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.pets-overview-information img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    position: absolute;
    z-index: -1;
    opacity: 0.5;
}

.pets-category-links
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
}

.pets-category-links a
{
    text-decoration: none;
    color: #333;
    font-size: 1.2rem;
    padding: 1rem;
    border-radius: 5px;
    border: 2px solid #DFDCE3;
    background-color: #F7B733;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100px;
}

.pets-category-links img
{
    width: 50px;
    height: 50px;
    position: relative;
    opacity: 1;
    z-index: 1;
}