.vet-container
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 1.5rem 1rem;
    padding: 1rem;
    overflow: hidden;
    gap: 1rem;
}

.vet-overview-section
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.vet-overview-information h1
{
    font-size: 3rem;
    font-weight: 700;

}

.links-vet-section
{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 1rem;
    margin-left: 3rem;
}

.links-vet-section a
{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 700;
    color: #DFDCE3;
    border: #DFDCE3 2px solid;
    border-radius: 5px;
    padding: .3rem 1rem;
}

.vet-services ul
{
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
}

.vet-services ul li
{
    border: 1px solid #DFDCE3;
    border-radius: 5px;
    text-align: center;
    background-color: #F7B733;
    color: #333;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.vet-services ul li p
{
    color: #333;
}

.vet-services h4
{
    color: #333;
    font-size: 1rem;
    font-weight: 700;
}

.vet-services ul li a
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #333;
    padding: 1rem .5rem;
}

.vet-services-image
{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #DFDCE3;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: .5rem;
}

.vet-services-image img
{
    object-fit: cover;
    padding: 0;
    margin: 0;
    max-width: 100%;
}

.vet-image-section img
{
    object-fit: cover;
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.7));
    max-width: 100%;
}

.vet-image-section
{
    background-size: cover;
}

.vet-container-child
{
    flex: 1;
}

h1
{
    text-align: start;
    padding-left: 3rem;
}

@media screen and (max-width: 680px)
{
    .vet-overview-section
    {
        flex-direction: column;
    }

    .vet-container
    {
        margin: 1rem 0;
    }

    .vet-overview-information h1
    {
        font-size: 2rem;
        padding-left: 0;
    }

    .links-vet-section
    {
        margin-left: 0;
        justify-content: start;
    }

    .vet-services ul li
    {
        padding: 0 0.5rem;
    }

    .vet-services ul
    {
        padding-left: 0;
    }
}