:root
{
  font-family: Quicksand,
    Helvetica,
    Arial,
    sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgb(32, 30, 30);
  background-color: #4ABDAC;
}